<table style="background:#F5F5F5;width: 100%;width: 100%;clear: both!important;width: 100%;padding: 20px;font-family:Arial;">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td bgcolor="#FFFFFF" style="border: 1px solid #EEE;padding: 20px;display: block!important;max-width: 600px!important;margin: 0 auto!important;clear: both!important;">

			<table style="width: 100%;max-width: 600px;margin: 0 auto;display: block;">
					<tbody>
						<tr>
							<td><br/>
							<p style="margin-bottom: 15px;font-weight: normal;font-size: 12px;">Hallo [name],<br/><br/>
							Berikut dibawah ini adalah akses baru Anda untuk bisa masuk ke sistem Membership.
							<br/>
							Pastikan password Anda diubah kembali setelah login pada menu profile agar privasi tetap terjaga.
							</p>
							<table style="width: 100%;border-collapse:collapse;font-family:Arial;font-size:12px;">
								<tbody>
									<tr>
										<td style="border:1px solid #666;padding:5px;background:#EEE;font-weight:bold">Email</td>
										<td style="border:1px solid #666;padding:5px;">[email]</td>
									</tr>
									<tr>
										<td style="border:1px solid #666;padding:5px;background:#EEE;font-weight:bold">Password</td>
										<td style="border:1px solid #666;padding:5px;">[password]</td>
									</tr>
								</tbody>
							</table>	
							<br/>
							<p style="margin-bottom: 10px;font-weight: normal;font-size: 12px;">
							Tombol di bawah ini akan mengarahkan Anda ke sistem Membership: 
							</p>			
						<table style="width: 100%;">
							<tbody>
								<tr>
									<td style="padding: 10px 0;">
									<p><a href="[url]" style="text-decoration: none;color: #FFF;background-color: #990000;border: solid #990000;border-width: 10px 20px;line-height: 2;font-weight: bold;margin-right: 10px;text-align: center;cursor: pointer;display: inline-block;">Ke Sistem Membership</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						<p style="margin-bottom: 10px;font-weight: normal;font-size: 12px;">Terima kasih,<br />Tim Tech Membership</p>
						<img src="[url]images/logo.png" style="max-width: 100%;" />
						<p style="margin-bottom: 10px;font-weight: normal;font-size: 10px;">
							<a href="[url]">[url]</a>
						</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<table style="width: 100%;clear: both!important;">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td style="padding: 20px;display: block!important;max-width: 600px!important;margin: 0 auto!important;clear: both!important;"><!-- content -->
			<div style="max-width: 600px;margin: 0 auto;display: block;">
			<table style="margin:auto;font-family:Arial;">
				<tbody>
					<tr>
						<td>
						<p style="font-size: 12px;color: #666;">Copyright &copy; [current_date] .</p>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>