<form class="form-forgot form-vertical form-modal" id="form-forgot" name="form-forgot" method="POST" action="{base_url}forgot/submit">
<div class="module-body">
	<div class="control-group">
		<div class="controls row-fluid">
			<div class="input-group email">
			   <span class="input-group-addon"><i class="grey icon-envelope"></i></span>
			   <input type="text" class="form-control span12" name="email" placeholder="Email" id="email" autocomplete="off">
			</div>
		</div>
	</div>
</div>
<div class="module-foot">
	<div class="control-group">
		<div class="controls clearfix navigator-forgot">
			<button type="submit" class="btn btn-info pull-right btn-reset btn-forgot"><i class="icon-share"></i> Reset Password</button>
			<button type="button" class="btn btn-info pull-right btn-close" style="display:none;"><i class="icon-check"></i>Done</button>
		</div>
	</div>
</div>
</form>