{devi}
<div class="new-block type-12 devi-background scroll-to-block devi" data-id="devi">
    <div class="container">
        <div class="row page-tagline">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="devi-title">dev <span>i</span></h2>
                <h5>Development Innovation Indonesia</h5>
            </div>
        </div>
        <div class="row center">
            {description}
            <div class="col-md-6 col-xs-12 right">
                <a href="{link_website}" class="devi-link devi-link-right">goto website <i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="col-md-6 col-xs-12 left">
                <a href="{link_instagram}" class="devi-link devi-link-left"><i class="fa fa-instagram"></i> follow us</a>
            </div>
        </div>
    </div>
</div>
<div class="new-block type-12 instagram">
    {devi_photos}
    <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="{link}" target="_blank">
        {image_url}
        </a>
    </div>
    {/devi_photos}
</div>
{/devi}