<div class="container" data-id="home">
    <div class="row margin-home">
        <div class="col-md-6 content-entry">
            <img src="{base_url}img/saraswati/logo-saraswati-motion.gif" alt="" class="main-logo"/>
        </div>
        <div class="col-md-6 content-entry margin-home-title">
            <span>
                <img src="{base_url}img/saraswati/logo-big.png" alt="" class="title-logo" style="max-width: 100%"/>
                <form name="form-subscribe" action="POST" id="form-subscribe" class="margin-subscribe">
                    <input type="text" class="input-subscribe" name="email" placeholder="Type email here"/>
                    <button class="button-subscribe" name="button-subscribe" id="btn-subscribe">SUBSCRIBE &nbsp; &nbsp; <i class="fa fa-long-arrow-right"></i></button>
                </form>
            </span>
        </div>
    </div>
</div>
