{programs}
<div class="new-block type-15 scroll-to-block programs" data-id="programs">
  <div class="container">
      <div class="row page-tagline">
          <div class="col-md-6 col-md-offset-3">
              <h2 class="programs-title">{name}</h2>
          </div>
      </div>
      <div class="row center hide">

          {sub_programs}
          <div class="col-md-3 col-sm-6 center thumbs">
              {image_url}
          </div>
          {/sub_programs}
          
      </div>
  </div>
</div>
{/programs}