<div id="fullpage">
    <div class="section active" id="section0">
        <!-- Homepage -->
		{homepage}  
		<!-- Homepage End --> 
    </div>
    <div class="section" id="section1" style="background:url(http://192.168.10.5/saraswatiweb/uploads/abouts/2020100612321920201003084545background_aboutus_overlay-min.png) no-repeat; background-size: cover;">
        <!-- About Us -->
		{about}
		<!-- About Us End -->
    </div>
    <div class="section" id="section2">
        <!-- What we do -->
		{whatwedo}
		<!-- What we do End --> 
    </div>
    <div class="section" id="section3">
        <!-- Programs -->
		{programs}
		<!-- Programs --> 
    </div>
    <div class="section" id="section4">
        <!-- Sub Programs -->
		{sub_programs}
		<!-- Sub Programs -->  
    </div>
    <div class="section" id="section5">
		<!-- Works -->
		{blog}
		<!-- Works End -->
    </div>
    <div class="section" id="section6">
        <!-- talents -->
		{team}
		<!-- talents End --> 
    </div>
    <div class="section" id="section7">
        <!-- Clients -->
		{partner}  
		<!-- Clients End -->  
    </div>
    <div class="section" id="section8">
        <!-- contact us -->
		 {contact} 
		<!-- contact us End --> 
    </div>
</div>


<!-- Devi -->
<!-- {devi}
 --><!-- Devi --> 
   

 


  
