<div id="fullpage">
    <div class="section active">
		{homepage}  
    </div>
    <div class="section" style="background:url({base_url}uploads/abouts/2020100612321920201003084545background_aboutus_overlay-min.png) no-repeat; background-size: cover;">
		{about}
    </div>
    <div class="section">
		{whatwedo}
    </div>
    {sub_programs}
    <div class="section">
        {blog}
    </div>
    <div class="section">
        {team}
    </div>
    <div class="section">
        {partner}  
    </div>
    <div class="section">
         {contact} 
    </div>
</div>


<!-- Devi -->
<!-- {devi}
 --><!-- Devi --> 
   

 


  
