
{sub_programs}
<div class='section devi {theme}'>
    <div class="container" data-id="{slug}" style="{background}">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="header-subprogram">
                    <h2 class="devi-title">{logo_url}</h2>
                    <div>
                        <span>
                            <a href="{link_website}" class="devi-link devi-link-right {theme}" target="_blank">goto website <i class="fa fa-long-arrow-right" target="_blank"></i></a>
                            <a href="{link_instagram}" class="devi-link devi-link-left {theme}" target="_blank"><i class="fa fa-instagram"></i> follow us</a>
                        </span>
                    </div>
                </div>
                <!-- <h5>{name}</h5> -->
            </div>
        </div>
        <div class="row center">
            {description}
        </div>
        <div class="row instagram">
            {program_photos}
            <div class="col-xs-6 col-md-3 p-0">
                <a href="{link}" target="_blank" class="link-instagram">
                {image_url}
                </a>
            </div>
            {/program_photos}
        </div>
    </div>
</div>
{/sub_programs}