<div class="what-we-do container" data-id="what-we-do">
    <div class="page-tagline">
        <div class="text-center">
            <h2 class="what-we-do-title">what we do</h2>
        </div>
    </div>
    <div class="box-whatwedo">
        <div class="box-left">
            <div class="d-flex mb-20">
                {monitoring}
                    <div class="box-first d-flex" data-img="{image_url}" data-img-hover="{image_hover_url}" data-theme="{theme_color}">
                        <a href="{link}" class="d-flex">
                            <div class="img">
                            <span>{image}</span>
                            </div>
                            <div class="desc">
                                <span>
                                    <h4>{name}</h4>
                                    <p>{preview}</p>
                                </span>
                            </div>
                        </a> 
                    </div>
                {/monitoring}
                {online}
                <div class="box-two" data-img="{image_url}" data-img-hover="{image_hover_url}" data-theme="{theme_color}">
                    <a href="{link}">
                        {image}
                        <h4>{name}</h4>
                        <p>{preview}</p>
                    </a>
                </div>
                {/online}
                {research}
                <div class="box-two" data-img="{image_url}" data-img-hover="{image_hover_url}" data-theme="{theme_color}">
                    <a href="{link}">
                        {image}
                        <h4>{name}</h4>
                        <p>{preview}</p>
                    </a>
                </div>
                {/research}
            </div>
            <div class="d-flex d-block-sm">
                {knowledge}
                <div class="box-first d-flex" data-img="{image_url}" data-img-hover="{image_hover_url}" data-theme="{theme_color}">
                    <a href="{link}" class="d-flex">
                        <div class="img order-two">
                            <span>{image}</span>
                        </div>
                        <div class="desc text-right">
                            <span>
                                <h4>{name}</h4>
                                <p>{preview}</p>
                            </span>
                        </div>
                    </a>
                </div>
                {/knowledge}
                {training}
                <div class="box-two" data-img="{image_url}" data-img-hover="{image_hover_url}" data-theme="{theme_color}">
                    <a href="{link}">
                        {image}
                        <h4>{name}</h4>
                        <p>{preview}</p>
                    </a>
                </div>
                {/training}
                {partnerships}
                <div class="box-two" data-img="{image_url}" data-img-hover="{image_hover_url}" data-theme="{theme_color}">
                    <a href="{link}">
                        {image}
                        <h4>{name}</h4>
                        <p>{preview}</p>
                    </a>
                </div>
                {/partnerships}
            </div>
        </div>
        {strategic}
            <div class="box-right" data-img="{image_url}" data-img-hover="{image_hover_url}" data-theme="{theme_color}">
                <a href="{link}">
                    {image}
                    <h4>{name}</h4>
                    <p>{preview}</p>
                </a>
            </div>
        {/strategic}
        <!-- <div class="text-center show-m">
            <a href="{base_url}whatwedo/detail/1/research-and-analysis" class="btn btn-pink btn-block">SEE MORE</a>
        </div> -->
    </div>
</div>