{detail}
<div class="new-block blog-detail">
   {image_url}
   <div class="container">
        <div class="row">
            <div class="col-md-12 content-entry">
                <p><a href="{blog_url}">All Blog</a> <i class="fa fa-chevron-right small"></i> {name}</p>
                <h2>{name}</h2>
                <small class="date">{date} | {ref_blogs_name} | By {author}</small>
                {description}
                <br/><br/>
                <p>{download}</p>
            </div>
        </div>
    </div>
</div>
{/detail}

{contact}