<table class="table table-striped table-bordered table-condensed" border="1">
      <tr>
                  <th width="1%">No.</th>
                  <th width="5%">Date</th>
                  <th width="10%">Email</th>
                  <th width="10%">IP Address</th>
      </tr>
      {lists}
      <tr class="record" id="record{id}">
            <td class="td-content center">{no}</td>
            <td class="td-content">{created_date}</td>
            <td class="td-content">{email}</td>
            <td class="td-content">{ip_address}</td>
      </tr>
      {/lists}
</table>