<div class="btn-controls">
		<h4>Welcome to {site_name}</h4>				
</div>
<div class="btn-controls {is_not_fo}" id="dashboard">
	<p>Hey {account_name}, Welcome to the Internet Administrator page Saraswati
Please click menu option on the left to mange a website or select the icons in the Control Panel</p>
<br/><br/>		
</div>
<div class="btn-box-row row-fluid">
  <a href="{admin_url}index" class="btn-box big span3"><i class="icon-home"></i><b>Home</b>
    <p class="text-muted">Go to home</p>
  </a>
	<a href="{admin_url}adminuser_auths" class="btn-box big span3"><i class="icon-user"></i><b>Admin Users</b>
    <p class="text-muted">Manage admin users</p>
  </a>
  <a href="{admin_url}what_we_dos" class="btn-box big span3"><i class="icon-check"></i><b>What we do</b>
      <p class="text-muted">Manage what we do</p>
  </a>
  <a href="{admin_url}blogs" class="btn-box big span3"><i class="icon-file"></i><b>Blog & News</b>
      <p class="text-muted">Manage blog & news</p>
  </a>
</div>
<div class="btn-box-row row-fluid">
  <a href="{admin_url}teams" class="btn-box big span3"><i class="icon-users"></i><b>Team</b>
    <p class="text-muted">Manage team</p>
  </a>
   <a href="{admin_url}partners" class="btn-box big span3"><i class="icon-file-text"></i><b>Partner</b>
        <p class="text-muted">Manage partner</p>
  </a>
	<a href="{admin_url}contacts" class="btn-box big span3"><i class="icon-address-book"></i><b>Contact</b>
      <p class="text-muted">Manage contact info</p>
    </a>
	<a href="{admin_url}subscribers" class="btn-box big span3"><i class="icon-link"></i><b>Subscribers</b>
      <p class="text-muted">Manage subscriber</p>
    </a>
</div>
