{newsletters}
<table style="background:#F5F5F5;width: 100%;width: 100%;clear: both!important;width: 100%;padding: 20px;font-family:Arial;">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td bgcolor="#FFFFFF" style="border: 1px solid #EEE;padding: 20px;display: block!important;max-width: 600px!important;margin: 0 auto!important;clear: both!important;">
			
			<table style="width: 100%;">
				<tbody>
					<tr>
						<td style="text-align:center;"><img src="#URL#/images/logo.jpg" style="max-width: 100%;" /><br/><br/></td>
					</tr>
					<tr>
						<td style="text-align:center;background:#222;height:5px;width:100%;"></td>
					</tr>
				</tbody>
			</table>
			
			<table style="width: 100%;max-width: 600px;margin: 0 auto;display: block;">
				<tbody>
					<tr>
						<td>
							<p style="margin-top:20px;margin-bottom: 10px;font-weight: normal;font-size: 14px;color:#6c737a;">{content_big}</p>
							<p style="margin-top:20px;margin-bottom: 10px;font-weight: normal;font-size: 18px;color:#ac2231;">Unit Terbaru</p>
							
							<table style="width:100%;">
							<tr>
								{listpjo}
								<td>
									<table style="text-align:center;background:#EEE;border:1px solid #DDD;width:185px;">
										<tr>
											<td>
												<img style="margin-top: 10px;width: 150px;" src="{base_url}uploads/headlines/{file_image}">
												<h4 style="height:40px;font-size:14px;border-bottom: 1px dashed #CCC;color: #34393e;padding-bottom: 5px;padding-left: 10px;padding-right: 10px;text-align: left;">{title}</h4>
												<ul style="font-size:13px;color:#4b5157;list-style:outside none none;padding:4px 5px 11px 10px;text-align:left;">
													<li style="padding:4px 0 0 5px;">{securitys}<span style="float:right;">{security}</span></li>
													<li style="padding:4px 0 0 5px;">{gardens}<span style="float:right;">{garden}</span></li>
													<li style="padding:4px 0 0 5px;">{units}<span style="float:right;">{unit}</span></li>
												</ul>
												<a href="{link}" style="text-decoration:none;padding:3px 5px 3px 5px;color:#fff;background:#3a75be;font-size:13px;">{status}</a>
												<span style="float:right;font-size:12px;font-weight:700;color:#333;">Rp.{price}</span>
												<br/><br/>
											</td>
										</tr>
									</table>
								</td>
								{/listpjo}
								{listpjd}
								<td>
									<table style="text-align:center;background:#EEE;border:1px solid #DDD;width:185px;">
										<tr>
											<td>
												<img style="margin-top: 10px;width: 150px;" src="{base_url}uploads/headlines/{file_image}">
												<h4 style="height:40px;font-size:14px;border-bottom: 1px dashed #CCC;color: #34393e;padding-bottom: 5px;padding-left: 10px;padding-right: 10px;text-align: left;">{title}</h4>
												<ul style="font-size:13px;color:#4b5157;list-style:outside none none;padding:4px 5px 11px 10px;text-align:left;">
													<li style="padding:4px 0 0 5px;">{securitys}<span style="float:right;">{security}</span></li>
													<li style="padding:4px 0 0 5px;">{gardens}<span style="float:right;">{garden}</span></li>
													<li style="padding:4px 0 0 5px;">{units}<span style="float:right;">{unit}</span></li>
												</ul>
												<a href="{link}" style="text-decoration:none;padding:3px 5px 3px 5px;color:#fff;background:#3a75be;font-size:13px;">{status}</a>
												<span style="float:right;font-size:12px;font-weight:700;color:#333;">Rp.{price}</span>
												<br/><br/>
											</td>
										</tr>
									</table>
								</td>
								{/listpjd}
							</tr>
							</table>

						</td>
					</tr>
				</tbody>
			</table>
			
			<table style="width: 100%;max-width: 600px;margin: 0 auto;display: block;">
				<tbody>
					<tr>
						<td>
						<p style="margin-top:20px;margin-bottom: 10px;font-weight: normal;font-size: 18px;color:#ac2231;">Proyek Terbaru</p>
						<table style="width:100%;">
							<tr>
								{listuo}
								<td>
									<table style="text-align:center;background:#EEE;border:1px solid #DDD;width:185px;">
										<tr>
											<td>
												<img style="margin-top: 10px;width: 150px;" src="{base_url}uploads/headlines/{file_image}">
												<h4 style="font-size:14px;border-bottom: 1px dashed #CCC;color: #34393e;padding-bottom: 5px;padding-left: 10px;padding-right: 10px;text-align: left;">{title}</h4>
												<ul style="font-size:13px;color:#4b5157;list-style:outside none none;padding:4px 5px 11px 10px;text-align:left;">
													<li style="padding:4px 0 0 5px;">{garaces}<span style="float:right;">{garace}</span></li>
													<li style="padding:4px 0 0 5px;">{bedrooms}<span style="float:right;">{bedroom}</span></li>
													<li style="padding:4px 0 0 5px;">{bathrooms}<span style="float:right;">{bathroom}</span></li>
												</ul>
												<a href="#PROPURL#" style="text-decoration:none;padding:3px 5px 3px 5px;color:#fff;background:#3a75be;font-size:13px;">{status}</a>
												<span style="float:right;font-size:12px;font-weight:700;color:#333;">Rp.{price}</span>
												<br/><br/>
											</td>
										</tr>
									</table>
								</td>
								{/listuo}
								{listua}
								<td>
									<table style="text-align:center;background:#EEE;border:1px solid #DDD;width:185px;">
										<tr>
											<td>
												<img style="margin-top: 10px;width: 150px;" src="{base_url}uploads/headlines/{file_image}">
												<h4 style="font-size:14px;border-bottom: 1px dashed #CCC;color: #34393e;padding-bottom: 5px;padding-left: 10px;padding-right: 10px;text-align: left;">{title}</h4>
												<ul style="font-size:13px;color:#4b5157;list-style:outside none none;padding:4px 5px 11px 10px;text-align:left;">
													<li style="padding:4px 0 0 5px;">{garaces}<span style="float:right;">{garace}</span></li>
													<li style="padding:4px 0 0 5px;">{bedrooms}<span style="float:right;">{bedroom}</span></li>
													<li style="padding:4px 0 0 5px;">{bathrooms}<span style="float:right;">{bathroom}</span></li>
												</ul>
												<a href="#PROPURL#" style="text-decoration:none;padding:3px 5px 3px 5px;color:#fff;background:#3a75be;font-size:13px;">{status}</a>
												<span style="float:right;font-size:12px;font-weight:700;color:#333;">Rp.{price}</span>
												<br/><br/>
											</td>
										</tr>
									</table>
								</td>
								{/listua}
							</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
			
			<table style="width: 100%;max-width: 600px;margin: 0 auto;display: block;">
				<tbody>
					<tr>
						<td>
							<p style="margin-top:20px;margin-bottom: 10px;font-weight: normal;font-size: 18px;color:#ac2231;">Berita & Info Terbaru</p>
							{listnews}
							<table style="padding:13px 20px 15px 15px;border-left:5px solid #c7a92f;">
								<tr>
									<td>
									<a href="{link_news}" style="color:#34393e;font-weight:bold;text-decoration:none;">{title_news}</a>
									<p style="color:#6c737a;font-size:14px;">{content_news}</p>
									</td>
								</tr>
							</table>
							<br/>
							{/listnews}
						</td>
					</tr>
				</tbody>
			</table>
			<p>&nbsp;</p>
			</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<table style="width: 100%;clear: both!important;">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td style="padding: 20px;display: block!important;max-width: 600px!important;margin: 0 auto!important;clear: both!important;"><!-- content -->
			<div style="max-width: 600px;margin: 0 auto;display: block;">
			<table style="margin:auto;font-family:Arial;">
				<tbody>
					<tr>
						<td style="text-align:center;">
							{social}
							<a href="{social_link}"><img src="{base_url}uploads/{social_image}"/></a>
							{/social}
						</td>
					</tr>
					<tr>
						<td>
						<p style="font-size: 12px;color: #666;">Copyright &copy; #CURRDATE# .</p>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
{/newsletters}
