<div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        {sidebar}
                    </div>
                    <!--/.span3-->
                    <div class="span10 screen-dashboard">
                        <div class="content">
                            {contents}
                        </div>
                        <!--/.content-->
                    </div>
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->

