 <!-- HEADER -->
    <header class="{header_detail}">
        <a href="{base_url}" id="logo"><img class="act" src="{base_url}img/saraswati/logo.png" alt=""/></a>
        <div class="mob-icon">
            <span></span>
        </div>
        <nav>
            <ul id="menu">
                <li><a href="#about" class="scroll-to-link" onclick="javscript:window.location.href='{base_url}#about'">About</a></li>
                <li>
                    <a href="#what-we-do" class="link-what-we-do scroll-to-link {act3}" onclick="javscript:window.location.href='{base_url}#what-we-do'">What We Do</a>
                    <!-- <div class="dropdown-mb-content">
                        {dropdown}
                            <a href="{link}" class="col-xs-12">
                                {image_url}
                                <p>{name}</p>
                            </a>
                        {/dropdown}
                    </div> -->
                </li>
                <li><a href="#special-project" class="link-programs scroll-to-link" onclick="javscript:window.location.href='{base_url}#special-project'">{menu_programs}</a></li>
                <li><a href="#blog" class="scroll-to-link {act5}" onclick="javscript:window.location.href='{base_url}#blog'">Blog/News</a></li>
                <li><a href="#team" class="scroll-to-link" onclick="javscript:window.location.href='{base_url}#team'">Team</a></li>
                <li><a href="#partners" class="scroll-to-link" onclick="javscript:window.location.href='{base_url}#partners'">Partners</a></li>
                <li><a href="#contact" class="scroll-to-link" onclick="javscript:window.location.href='{base_url}#contact'">Contact</a></li>
            </ul>
        </nav>                                                                         
    </header>
    <div class="dropdown-content">
        <div class="container">
            {dropdown}
            <a href="{link}" class="col-sm-2">
                {image_url}
                <p>{name}</p>
            </a>
            {/dropdown}
        </div>
    </div>

    <div class="dropdown2-content">
        <div class="container">
            <a href="#laksmi" class="scroll-to-link col-sm-2" onclick="javscript:window.location.href='{base_url}#laksmi'">
                <img src="{base_url}uploads/programs/20201223020943Laksmi-Web.png" alt="Laksmi">
                <p>Laksmi</p>
            </a>
            <a href="#devi" class="scroll-to-link col-sm-2" onclick="javscript:window.location.href='{base_url}#devi'">
                <img src="{base_url}uploads/programs/devi-logo.jpg" alt="Devi">
                <p>Devi</p>
            </a>
        </div>
    </div>
    

    
    <!-- LOADER -->
    <div id="loader-wrapper">
        <img src="img/saraswati/loading-logo.gif" alt=""/>
        <span></span>
    </div>

    <div id="content-wrapper">