<div class="new-block blog-detail">
    <div class="carousel-whatwedo">
        <div class="owl-carousel owl-theme owl-whatwedo">
            <div class="item">
                <a href="{base_url}whatwedo/detail/3/monitoring-evaluation-and-learning" class="link-whatwedo">
                    <img src="{base_url}uploads/what-we-do/20200930074847icon_homepagedropdown_research%20andnalysis.png" alt="">
                    <span>Research and Analysis</span>
                </a>
            </div>
            <div class="item">
                <a href="{base_url}whatwedo/detail/2/knowledge-management" class="link-whatwedo">
                    <img src="{base_url}uploads/what-we-do/20200930074916icon_homepagedropdown_knowledgemanagement.png" alt="">
                    <span>Knowledge Management</span>
                </a>
            </div>
            <div class="item">
                <a href="{base_url}whatwedo/detail/3/monitoring-evaluation-and-learning" class="link-whatwedo">
                    <img src="{base_url}uploads/what-we-do/20200930074936icon_homepagedropdown_monitoringevaluationand%20learning.png" alt="">
                    <span>Monitoring, Evaluation and Learning</span>
                </a>
            </div>
            <div class="item">
                <a href="{base_url}whatwedo/detail/4/strategic-design" class="link-whatwedo">
                    <img src="{base_url}uploads/what-we-do/20200930074953icon_homepagedropdown_strategicdesign.png" alt="">
                    <span>Strategic Design</span>
                </a>
            </div>
            <div class="item">
                <a href="{base_url}whatwedo/detail/5/online-platform-development" class="link-whatwedo">
                    <img src="{base_url}uploads/what-we-do/20200930075011icon_homepagedropdown_onlineplatformdevelopment.png" alt="">
                    <span>Online Platform Development</span>
                </a>
            </div>
            <div class="item">
                <a href="{base_url}whatwedo/detail/6/training-and-capacity-building" class="link-whatwedo">
                    <img src="{base_url}uploads/what-we-do/20200930075055icon_homepagedropdown_trainingandcapacitybuilding.png" alt="">
                    <span>Training and Capacity Buliding</span>
                </a>
            </div>
            <div class="item">
                <a href="{base_url}whatwedo/detail/7/partnerships-brokering" class="link-whatwedo">
                    <img src="{base_url}uploads/what-we-do/20200930075223icon_homepagedropdown_partnershipbrokering.png" alt="">
                    <span>Partnerships Brokering</span>
                </a>
            </div>
        </div>
    </div>
{detail}
   <div class="headline {theme_color}">
        <div class="col-md-5 col-md-offset-2 content">
            <h3>{name}</h3>
            <p>{preview}</p>
        </div>
        <div class="col-md-5 no-padding image no-padding">
            {image_url}
        </div>
   </div>
   <div class="container">
        <div class="row">
            <div class="col-md-6 content-entry">
                {description}
            </div>
            <div class="col-md-6 content-entry">
                <div class="what-we-do-photo">
                    {photos}
                      {image_url}
                    {/photos}
                </div>
                {quotes}
                <div class="quote">
                    <p><i class="fa fa-quote-left quote-left"></i> {description} <i class="fa fa-quote-right quote-right"></i></p>
                    <h5>{name}</h5>
                </div>
                {/quotes}
            </div>
        </div>
    </div>
</div>
{/detail}

{contact}